@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}
:root{
    --colorDark1: #112d4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg,#112d4e 0%, #3f72af 100%);
}
.tab-container{
    max-width: 550px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}
h1{
    text-align: center;
    padding-top: 3rem;
    text-transform: uppercase;
}
.tab{
    font-size: 0.875rem;
    border-radius: 1rem;
    padding: 0.7rem 0.5rem;
    margin-top: 2rem;
    letter-spacing: 1px;
    cursor: pointer;
}
.weather-container{
    margin-block: 3rem; 

}
.btn{
    all:unset;
    text-transform: uppercase;
    background-color: var(--colorDark2);
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 0.85rem;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grant-location-container{
    display: none; 
}                             
.grant-location-container.active{
    display: flex;
}
.grant-location-container img{
    margin-bottom: 2rem;
}
.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
}
.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}
.loading-container{
    display: none;
}
.loading-container.active{
    display: flex;
}
.loading-container p{
    margin-top: 2rem;
    text-transform: uppercase;
}
.errr{
    display:none;
}
.errr.active{
    display: flex;
}

.user-info-container{
    display: none;
}
.user-info-container.active{
    display: flex;
}
.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
}
.user-info-container img{
    width: 90px;
    height: 80px;
}
.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem; 
    margin-bottom: 1rem;
}
.name img{
    width: 30px;
    height: 30px;
}
.name p{
    font-size: 2rem;
}
.user-info-container p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}
.parameter-container{
    display: flex;
    background-color: #112d4E;  
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin-top: 2rem;
}
.parameter{
    width: 30%;
    max-width: 200px;
    background-color: rgb(229, 226, 239,0.2);
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 0.8rem 0;
}
.parameter img{
    width: 50px;
    height: 50px;
}
.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}
.parameter p:last-of-type{
    font-size: 1.1rem;
    font-weight: 300;
}
.form-container{
    width: 90%;
    max-width: 550px;
    display: none;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
    
}
.form-container.active{
    display: flex;
}
.form-container input{ 
    
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0px 20px 0px 20px;
    background-color: rgb(219, 226, 239,0.5);
    border-radius: 10px;
}
.form-container input::placeholder{
    color: rgba(255,255,255,0.7);
}
.form-container input:focus{
    border: 3px solid rgba(255,255,255,0.7);
}
.form-container .btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;
    background-color: rgb(219, 226, 239,0.2);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}


.tab.current-tab{
    background-color: rgb(229, 226, 239,0.5);
    border: 4px;
}
.form-container.active{   
    display: flex;
    opacity: 1;
    scale: 1;
}
@media ((min-width:200px) and (max-width:600px)){
    .parameter p:first-of-type {
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    .user-info-container img {
        width: 60px;
        height: 60px;
    }
}
 @media (max-width: 600px){
    .parameter-container {
        display: flex;
        flex-direction: column;
        background-color: #112d4E;
        justify-content: center;
        align-items: center;
        gap: 13px 15px;
        border-radius: 0.5rem;
        padding: 1rem 1rem;
        margin-top: 1rem;
    }
    .parameter {
        width: 100%;
        max-width: 300px;
        background-color: rgb(229, 226, 239,0.2);
        border-radius: 5px;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.8rem 1.5rem;
    }
    .parameter img {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 650px){
    h1 {
        text-align: center;
        padding-top: 2rem;
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    .tab {
        font-size: 0.8rem;
        border-radius: 1rem;
        padding: 0.5rem 0.5rem;
        margin-top: 1rem;
        letter-spacing: 1px;
        cursor: pointer;
    }


    .name img {
        width: 20px;
        height: 20px;
    }
    .name p {
        font-size: 1.6rem;
    }
    .user-info-container p {
        font-size: 1.2rem;
        font-weight: 200;
    }
    .user-info-container p[data-temp] {
        font-size: 1.75rem;
        font-weight: 700;
    }
    .weather-container {
        margin-block: 1rem;
    }
}  




